<html>
    <body>
        <form method="post" action="register">
            <input type="email" name="email1" placeholder="Email Id."/></br></br>
            <input type="text"  name="no1"    placeholder="Mobile No."/></br></br>
            <input type="password" name="password1" placeholder="PassWord" /></br></br>
            <input type="password" name="password2" placeholder="Confirm PassWord" /></br></br>
            <input type="checkbox" value="codechef" name="contest" checked>CodeChef</input></br></br>
            <input type="checkbox" value="codeforces" name="contest" checked>CodeForces</input></br></br>
            <input type="checkbox" value="hackerearth" name="contest">HackerEarth</input></br></br>
            <input type="checkbox" value="hackerrank" name="contest">HackerRank</input></br></br>
            <input type="checkbox" value="spoj" name="contest">Spoj</input></br></br>
            
            <input type="submit"/>
        </form>
    </body>
</html>