{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
	<div class="bg-text">
		<img class="img" src="{% static 'images/Reminder.gif' %}" height="110px" alt="Reminder">
		<h1 style="color:black;">Contest Reminder</h1>
		{% if user.is_authenticated %}
			Hi {{ user.email }} </br></br>
			<a class="btn2" href="{% url 'profile' %}">Profile</a>
			</br>
			<a class="btn2" href="{% url 'logout' %}">Log Out</a>
		{% else %}
			<p>You are not logged in</p>
			<a class="btn2" href="{% url 'login' %}">Log In</a>
			</br>
			<a class="btn2" href="{% url 'signup' %}">Sign Up</a>
		{% endif %}

		</br>
		<a class="btn3" href="whatsapp://send?text=" data-action="share/whatsapp/share">Share</a>
			</br>
        <p style="position: absolute; left:0px; right:0px; bottom: 0px; font-size:14px;">
				<a href="https://github.com/codestromer/ContestReminder/issues" style="text-decoration:none" rel="noopener noreferrer" target="_blank">Report Bug &nbsp;&nbsp;</a> 
				<a href="{% url 'about' %}" style="text-decoration:none">&nbsp;&nbsp;&nbsp; Contributors</a>
			</p>
		</div>
	</div>
{% endblock %}
