body,html{
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
*{
    box-sizing: border-box;
}
.table1 {
    width: 300px;
    height: 100px;
    border: 1px solid black;
    box-sizing: border-box;
}
.bg-text {
    background-color: #FFFFFF;
    color: rgb(0,0,0);
    font-weight: bold;
    border: 6px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 50px;
    text-align: center;
}
.btn1 {
    display: inline-block;
    width: 130px;
    height: 35px;
    font-size: 13px;
    color: #fff;
    background-color: #000000;
    border-radius: 15px;
    box-shadow: 0px 3px 0px #DCDCDC;
    text-align: center;
    margin: 5px 0 0;
    padding-top: 3px;
    text-decoration: none;
    font-weight: bold;
    -webkit-animation: btnWiggle 5s infinite;
    -moz-animation: btnWiggle 5s infinite;
    -o-animation: btnWiggle 5s infinite;
    animation: btnWiggle 5s infinite;
}
.btn2 {
    display: inline-block;
    width: 130px;
    height: 35px;
    font-size: 13px;
    color: #fff;
    background-color: #000000;
    border-radius: 15px;
    box-shadow: 0px 3px 0px #DCDCDC;
    text-align: center;
    margin: 5px 0 0;
    padding-top: 10px;
    text-decoration: none;
    font-weight: bold;
    -webkit-animation: btnWiggle 5s infinite;
    -moz-animation: btnWiggle 5s infinite;
    -o-animation: btnWiggle 5s infinite;
    animation: btnWiggle 5s infinite;
}
.btn3 {
    display: block;
    background-image: url('../images/icon.png');
    position: relative;
    letter-spacing: .4px;
    cursor: pointer;
    font-weight: 400;
    text-transform: none;
    color: #fff;
    background-color: #5cbe4a;
    background-repeat: no-repeat;
    line-height: 1.2;
    text-decoration: none;
    text-align: left;
    font-size: 16px;
    background-size: 30px;
    background-position: 10px 4px;
    color: #fff;
    width: 110px;
    height: 40px;
    font-size: 16px;
    border-radius: 15px;
    padding-top: 10px;
    padding-left:45px;
    box-shadow: 0px 3px 0px #DCDCDC;
    margin: 15px auto 0;
}
.img{
    border-radius:15px;
    -moz-border-radius:15px;
    -webkit-border-radius:15px;
    border:6px solid white;
}
.imp {
    width: 130px;
    height: 40px;
    font-size: 16px;
    color: #000000;
    border: 5px solid white;
    border-radius: 150px;
    margin: 40px 0 0;
}
@-webkit-keyframes btnWiggle {
    0% {-webkit-transform: rotate(0deg);}
    2% {-webkit-transform: rotate(-1deg);}
    3.5% {-webkit-transform: rotate(1deg);}
    5% {-webkit-transform: rotate(0deg);}
    100% {-webkit-transform: rotate(0deg);}
}
@-o-keyframes btnWiggle {
    0% {-webkit-transform: rotate(0deg);}
    2% {-webkit-transform: rotate(-1deg);}
    3.5% {-webkit-transform: rotate(1deg);}
    5% {-webkit-transform: rotate(0deg);}
    100% {-webkit-transform: rotate(0deg);}
}
@keyframes btnWiggle {
    0% {-webkit-transform: rotate(0deg);}
    2% {-webkit-transform: rotate(-1deg);}
    3.5% {-webkit-transform: rotate(1deg);}
    5% {-webkit-transform: rotate(0deg);}
    100% {-webkit-transform: rotate(0deg);}
}